@page "/productos/details"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using Restaurante.Data.Modelos
@inject IDbContextFactory<Restaurante.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Producto</h2>
    <hr />
    @if (producto is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@producto.Nombre</dd>
            <dt class="col-sm-2">Precio</dt>
            <dd class="col-sm-10">@producto.Precio</dd>
            <dt class="col-sm-2">Codigo</dt>
            <dd class="col-sm-10">@producto.Codigo</dd>
            <dt class="col-sm-2">CategoriaId</dt>
            <dd class="col-sm-10">@producto.CategoriaId</dd>
        </dl>
        <div>
            <a href="@($"/productos/edit?productoid={producto.ProductoId}")">Edit</a> |
            <a href="@($"/productos")">Back to List</a>
        </div>
    }
</div>

@code {
    private Producto? producto;

    [SupplyParameterFromQuery]
    private int ProductoId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        producto = await context.Productos.FirstOrDefaultAsync(m => m.ProductoId == ProductoId);

        if (producto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
